<div class="masthead">
<div class="language-nav">
<ul>
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">JavaScript</a></li>
    <li><a href="#">Ruby</a></li>
</ul>
</div>
<div class="logo">
<img src="assets/AA_Times_Logo.png">
</div>
<div class="masthead-links"> 
<ul>

    <li><a href="#">Tuesday, October 18, 2016</a></li>
    <li><i class="fa-sharp fa-solid fa-newspaper"></i><a href="#">Today’s Paper</a></li>
    <li><i class="fa-solid fa-video"></i><a href="#">Video</a></li>
    <li><a href="#">77°F</a></li>
    <li><a href="#">AAO <font color="green">+100%</font></a></li>
</ul>
</div>
</div>