/* Define application-wide selectors here!*/
@use '../variables' as *;

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: arial $serif;
	font-size: 12px;
}

button {
	background-color: #ffffff;
	// border-color: ;
	color: #ffffff;
	font-weight: bold;
	padding: 8px;
	border-radius: 3px;
	// transition:
	font-family: arial;
	// text-transform:
	font-size: 11px;
	// text-align:
	margin: 7px 0 7px 3px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border-bottom: 2px solid $lightest-gray;
}
.left-nav > ul {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	margin: 0 0 0 7px;
}

.right-nav > ul {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.sections, .search, .gear {
	color: #000000;
}
.sections:hover, .search:hover, .gear:hover {
	background-color: $lightest-gray;
}


.subscribe, .login {
	background-color: $light-blue;
}

.subscribe:hover, .login:hover {
	background-color: $blue;
	border-color: $darkest-blue;
}

button:hover {
	// background-color:
	// border-color:
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

a {


}
