.sections-nav {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-bottom: 2px solid #e2e2e2;


    ul {
        display: flex;
        flex-direction: row;

        li {
            padding: 5px;
        }
    }
    a {
        font-family: arial;
    }
    a:hover {
        background-color: #f7f7f5;
    }
    a.weird:hover {
        background-color: transparent;
        text-decoration: underline;
    }
}